
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Segoe UI", sans-serif;
    background-color: #fdfdfd;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .head {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 1.5rem;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .head h1 {
    font-size: 2rem;
    color: #2d5d7b;
  }
  
  .head h2 {
    font-size: 1.2rem;
    color: #555;
    margin-top: 0.5rem;
  }

  .bdarklightdiv { 
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  #bdarklight {
    background-color: #e0e0e0;
    color: #222;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 80px;

    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .main {
    display: flex;
    flex: 1;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .parishInfo {
    flex: 1 1 250px;
    background-color: #f9f9f9;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;

    width: 300px;
    max-height: 100vh;
    overflow-y: auto;
    border-right: 1px solid #ccc;
  }
  
  #map {
    flex: 3 1 500px;
    height: 675px;
    border: 2px solid #ccc;
    border-radius: 8px;
  }

  #parish-details h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  #parish-details p {
    margin: 0.3rem 0;
  }
  
  footer { 
    text-align: center;
    border: 2px solid #ddd;
    padding: 1rem;
  }

  body.dark {
    background-color: #121212;
    color: #eee;
    transition: background 0.3s ease;
  }
  
  body.dark .head {
    background-color: #1e1e1e;
    border-bottom: 1px solid #444;
    transition: background 0.3s ease;
  }
  
  body.dark .head h1 {
    color: #7cb1d8;
    transition: background 0.3s ease;
  }
  
  body.dark .head h2 {
    color: #ccc;
    transition: background 0.3s ease;
  }
  
  body.dark .parishInfo {
    background-color: #1a1a1a;
    border: 1px solid #444;
    transition: background 0.3s ease;
  }
  
  body.dark #map {
    border: 2px solid #444;
    transition: background 0.3s ease;
  }
  
  body.dark footer {
    border-color: #444;
    color: #bbb;
    background-color: #1e1e1e;
    transition: background 0.3s ease;
  }
  
  body.dark #bdarklight {
    background-color: #333;
    color: #eee;
    transition: background 0.3s ease;
  }
  
  .leaflet-layer.dark,
  .leaflet-control-zoom-in.dark,
  .leaflet-control-zoom-out.dark,
  .leaflet-control-attribution.dark {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  }
